.header {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-content {
  max-width: 960px;
  color: #fff;
}

.header-main {
  font-size: 36px;
  font-weight: 700;
  width: 70%;
}

.container-tiny {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;

  flex-direction: column;
}

.text-paragraph {
  padding: 60px 0 40px 0;
}
.offer-button {
  width: 164px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 1px;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px 49px;
  transition: background-color 1s, color 1s;
}

.offer-button:hover {
  background-color: white;
  color: black;
  text-align: left;
}
