.offer {
  background-color: #405d78;
}

.offer-section-title {
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.flex-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 63px;
}
