.box {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #f1f1f1;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 12px 0px rgba(66, 68, 90, 1);
  transform: scale(1);
  transition: transform 1s;
}
.box:hover {
  transform: scale(1.05);
}
.new-offer {
  font-size: 18px;
  transform: scale(1.05);
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: -11px;
  background-color: #e07a64;
}
