* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400px;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.body-container {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
}
.experts-section,
.offer,
.flex-boxes {
  padding: 50px;
}

html {
  scroll-behavior: smooth;
}
